In [5]:
import mysql.connector

In [6]:
def record_transaction(userid, categoryid, amount, trans_type, date, paymentmethod):
    conn = mysql.connector.connect(host='localhost', user='root', password='Shubham@01', database='expense_tracker')
    cursor = conn.cursor()
    query = "INSERT INTO transaction (userid, categoryid, amount, type, date, paymentmethod) VALUES (%s, %s, %s, %s, %s, %s)"
    cursor.execute(query, (userid, categoryid, amount, trans_type, date, paymentmethod))
    conn.commit()
    cursor.close()
    conn.close()

In [7]:
def update_budget(budgetid, new_limitamount, new_status):
    onn = mysql.connector.connect(host='localhost', user='root', password='Shubham@01', database='expense_tracker')
    cursor = conn.cursor()
    query = "UPDATE budget SET limitamount = %s, status = %s WHERE budgetid = %s"
    cursor.execute(query, (new_limitamount, new_status, budgetid))
    conn.commit()
    cursor.close()
    conn.close()

In [8]:
def view_user_summary(userid):
    onn = mysql.connector.connect(host='localhost', user='root', password='Shubham@01', database='expense_tracker')
    cursor = conn.cursor()
    query = """
      SELECT c.name as category, SUM(t.amount) as total 
      FROM transaction t
      JOIN category c ON t.categoryid = c.categoryid
      WHERE t.userid = %s
      GROUP BY c.categoryid
    """
    cursor.execute(query, (userid,))
    results = cursor.fetchall()
    cursor.close()
    conn.close()
    return results